Repository BeInBloom/grpc-chat: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint, buf-lint, buf-format

fmt:
  run: goimports -w {staged_files}
  stage_fixed: true

lint:
  run: golangci-lint run ./gen/go/... ./services/auth/... ./services/chat/... --new-from-rev=HEAD~1

buf-lint:
  run: buf lint proto

buf-format:
  run: buf format -w proto
  stage_fixed: true

docs: add README and MIT license
  LICENSE
  README.md
Due: none

feat(auth): implement layered architecture (handler-service-repo)
  Makefile
  gen/go/auth/v1/user.pb.go
  go.work.sum
  proto/auth/v1/user.proto
  services/auth/cmd/main.go
  services/auth/go.mod
  services/auth/go.sum
  services/auth/internal/handler/mocks/mock_service.go
  services/auth/internal/handler/user.go
  services/auth/internal/handler/user_test.go
  services/auth/internal/models/config.go
  services/auth/internal/models/user.go
  services/auth/internal/repository/errors.go
  services/auth/internal/repository/user.go
  services/auth/internal/repository/user_test.go
  services/auth/internal/services/mocks/mock_repository.go
  services/auth/internal/services/user.go
  services/auth/internal/services/user_test.go
Due: fmt, lint, buf-lint, buf-format

refactor: apply code review fixes (proto, models, handler, service, repo, chat)
  .gitignore
  gen/go/go.mod
  gen/go/go.sum
  go.work
  proto/auth/v1/user.proto
  services/auth/cmd/main.go
  services/auth/go.mod
  services/auth/go.sum
  services/auth/internal/app/app.go
  services/auth/internal/config/config.go
  services/auth/internal/container/container.go
  services/auth/internal/handler/mocks/mock_service.go
  services/auth/internal/handler/user.go
  services/auth/internal/handler/user_test.go
  services/auth/internal/logger/logger.go
  services/auth/internal/models/config.go
  services/auth/internal/models/user.go
  services/auth/internal/repository/user.go
  services/auth/internal/repository/user_test.go
  services/auth/internal/services/mocks/mock_repository.go
  services/auth/internal/services/user.go
  services/auth/internal/services/user_test.go
  services/chat/cmd/main.go
  services/chat/internal/app/app.go
  services/chat/internal/config/config.go
  services/chat/internal/container/container.go
  services/chat/internal/logger/logger.go
Due: fmt, lint, buf-lint, buf-format

chore(Makefile): add make fmt and lint-fix targets
  Makefile
  gen/go/auth/v1/user_grpc.pb.go
  services/auth/internal/app/app.go
  services/auth/internal/config/config.go
Due: fmt, lint

feat: renamed config
  services/auth/cmd/main.go
Due: fmt, lint

feat: v1 chat contract
  proto/chat/v1/chat.proto
Due: buf-lint, buf-format

refactor: extract shared logger, migrate auth to uuid.UUID, define chat domain models
  gen/go/auth/v1/user.pb.go
  gen/go/auth/v1/user_grpc.pb.go
  gen/go/chat/v1/chat.pb.go
  gen/go/chat/v1/chat_grpc.pb.go
  go.work.sum
  pkg/logger/logger.go
  proto/auth/v1/user.proto
  proto/chat/v1/chat.proto
  services/auth/go.mod
  services/auth/internal/config/config.go
  services/auth/internal/container/container.go
  services/auth/internal/handler/converters.go
  services/auth/internal/handler/mocks/mock_service.go
  services/auth/internal/handler/user.go
  services/auth/internal/handler/user_test.go
  services/auth/internal/models/config.go
  services/auth/internal/models/user.go
  services/auth/internal/repository/user.go
  services/auth/internal/repository/user_test.go
  services/auth/internal/services/mocks/mock_repository.go
  services/auth/internal/services/user.go
  services/auth/internal/services/user_test.go
  services/chat/go.mod
  services/chat/go.sum
  services/chat/internal/config/config.go
  services/chat/internal/container/container.go
  services/chat/internal/handlers/converters.go
  services/chat/internal/handlers/handlers.go
  services/chat/internal/logger/logger.go
  services/chat/internal/models/chat.go
  services/chat/internal/models/member.go
  services/chat/internal/models/models.go
  services/chat/internal/services/chat/chat.go
Due: fmt, lint, buf-lint, buf-format

feat: add CreateChat/ListChats RPCs, ChatType/ChatMember to proto, improve Makefile
  Makefile
  gen/go/chat/v1/chat.pb.go
  gen/go/chat/v1/chat_grpc.pb.go
  proto/chat/v1/chat.proto
Due: fmt, lint, buf-lint, buf-format

feat: why i do this..?
  gen/go/chat/v1/chat.pb.go
  gen/go/chat/v1/chat_grpc.pb.go
  proto/chat/v1/chat.proto
  services/auth/internal/handler/converters.go
  services/chat/internal/handlers/converters.go
  services/chat/internal/handlers/handlers.go
  services/chat/internal/interceptors/interceptors.go
  services/chat/internal/models/dto.go
  services/chat/internal/models/event_dtos.go
  services/chat/internal/models/handlers_dtos.go
  services/chat/internal/models/models.go
  services/chat/internal/models/repository_dtos.go
  services/chat/internal/services/chat/chat.go
  services/chat/internal/services/chat_service/chat_service.go
  services/chat/internal/services/chat_service/subscribe_context.go
  services/chat/internal/services/chat_service/subscription_channels.go
Due: fmt, lint, buf-lint, buf-format

feat: why i do this..?
  services/chat/internal/handlers/handlers.go
  services/chat/internal/services/chat_service/chat_service.go
  services/chat/internal/services/chat_service/cooperator.go
Due: fmt, lint

Path conditions:
  fmt: any of: *.go
  lint: any of: *.go
  buf-lint: any of: *.proto
  buf-format: any of: *.proto
